/**
 * @file global
 * @author shenli <meshenli@gmail.com>
 */
normalize();

body
    position: relative !important;
    background: $body-color url('http://7xjwed.com1.z0.glb.clouddn.com/bg.jpg') center top fixed repeat-x;
    background-size: cover;
    padding: 10px;
    font: 12px/1.5 "Hiragino Sans GB",arial,Verdana,tahoma, 'microsoft yahei', "\5b8b\4f53",sans-serif;
